* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background: linear-gradient(
  //   90deg,
  //   rgba(0, 126, 255, 1),
  //   rgba(165, 143, 255, 1),
  //   rgba(243, 143, 255, 1)
  // );
  background-color: thistle;
}

h1,
h2,
h3 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  // font-family: 'Fira Sans', 'Arial', sans-serif;
  color: midnightblue;
}
